* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  
  height: 100%;
}
.header{
    width: 100%;
    padding: 0 2%;
    background-color: #39196e;
    height: 60px;
}
.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.center img{
    margin: 19px;
}
.container-banner{
    padding: 0 2%;
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center;
    height: 550px;
    padding: 0 30px;
}
.container-banner .center{
    max-width: 1280px;
}
form{
    width: 100%;
    max-width: 440px;
    background-color: white;
    height: 100%;
    float: right;
    border: 8px solid #ccc;
    padding: 15px;
    text-align: center;
}
.form form h2{
    font-size: 20px;
    font-weight: normal;
    color: #999;
    margin: 20px auto;
}
.form form span, p{
    font-size: 17px;
    color: #727272;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.input-container{
    margin: 40px auto;
}
.input-container input[type="text"], input[type="email"], input[type="tel"]{
    width: 100%;
    padding: 5px;
    font-size: 17px;
}
.input-submit input{
    margin-top: 25px;
    width: 90%;
    padding: 10px;
    background-color: darkslateblue;
    border: none;
    color: white;
    border-radius: 10px;
}
.container-details{
    color: black;
    padding: 50px 2%;
    background-color: #999999;
}
.container-details>.center{
    width: 100%;
    max-width: 600px;
}
.container-details > .center >h2{
    text-align: center;
    color: #3e3e3e;
    margin-bottom: 30px;
    font-size: 24px;
}
.arrow{
    background-image: url("../images/arrow.png");
    top: 70px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
}
.icons .center{
    width: 100%;
}
.icons>h1{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.icon-container{
    margin-top: 20px;
    text-align: center;
    width: 33%;
    display: inline-block;
    padding: 0 10px;
}
.icon-container p{
    text-align: justify;
    margin-top: 5px;

}

@media (min-width: 768px) and (max-width: 979px){
    .input{
        width:100%;
    }
    .icon-container{
        display: block;
        margin: 0 auto;
        width:100%;
        padding: 0 80px;

    }
    .icon-container p{
        text-align:justify;
      }
  }
